{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block head %}{% endblock %}

{% block header %}{% endblock %}

{% block body %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4 justify-content-center">
            <form action="/edit-account/{{user_id}}" method="POST">
                <div class="mb-3">
                    {{ form.hidden_tag() }}
                    {{ wtf.form_field(form.username) }}
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.first_name) }}
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.last_name) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.address) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.city) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.state) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.zip) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.email) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.phone) }} 
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-group">
                        {{ wtf.form_field(form.about_me_body) }} 
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock body %}